menu "Ratte"

    config BROKER_URL
        string "Broker URL"
        default "ws://192.168.182.88:9001"
        help
            URL of the broker to connect to

    config PIN_NUM_SDA
        int "I2C SDA Pin"
        default 17

    config PIN_NUM_SCL
        int "I2C SCL Pin"
        default 16


endmenu
